/* 
--- Color Scheme ---
#E1C9A9 -- Beige

#d4b095 -- Peach

#BCC4C7 -- Light grey 
-- Shades:
- a9b0b3

#432D2D -- Dark brown
-- Tints: 
- 7b6c6c
- 695757 

#ced4da -- Default border color for Bootstrap form inputs
#212529 -- Default text color for Bootstrap form inputs

*/

/* --- General --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
  font-family: 'Inter', sans-serif;
  color: #432D2D;
  background-color: #d4b095;
}

/* Adjust margin-top to account for height of navbar */
.adjust-margin-top {
  margin-top: 66px;
}

/* Fonts */
.font-weight-500 {
  font-weight: 500;
}

/* Buttons */
.btn-custom-primary {
  font-weight: 500;
  background-color: #7b6c6c;
  border-color: #7b6c6c;
}

.btn-custom-primary:focus,
.btn-custom-primary:active,
.btn-custom-primary:hover {
  background-color: #695757;
  border-color: #695757;
}

.btn-custom-secondary {
  font-weight: 500;
  background-color: #BCC4C7;
  border-color: #BCC4C7;
}

.btn-custom-secondary:focus,
.btn-custom-secondary:active,
.btn-custom-secondary:hover {
  background-color: #a9b0b3;
  border-color: #a9b0b3;
}

.btn-custom-primary:active:focus,
.btn-custom-primary:focus,
.btn-custom-secondary:active:focus,
.btn-custom-secondary:focus {
  box-shadow: none;
}

/* Dropdowns */
.dropdown-light,
.dropdown-light:active,
.dropdown-light:focus,
.dropdown-light:hover {
  color: #212529 !important;
  background-color: #ffffff !important;
  border-color: #ced4da !important;
}

.dropdown-light:focus {
  box-shadow: none !important;
}

.dropdown-selected {
  background-color: #BCC4C7;
}

/* Error Messages */
.errorMessage {
  color: red;
  font-weight: 500;
  display: inline-block;
}

/* *** MOBILE SETTINGS (BELOW 768PX) *** */
/* --- Navbar --- */
.navbar {
  background-color: #E1C9A9 !important;
}

.nav-link {
  font-weight: 500;
  color: #695757 !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: all 0.3s;
}

.nav-link:hover {
  color: #432D2D !important;
  border-color: #653A1A;
}

.nav-link.active {
  color: #432D2D !important;
}

.logo-img {
  height: 40px;
}

/* --- Hero Section --- */
.section-hero {
  /* Account for height of navbar */
  height: calc(100vh - 66px);
  position: relative;

  background-image: url('./../images/coffee-beans.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-box {
  background-color: rgba(188, 196, 199, 0.65);
  padding: 1rem 1.5rem;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-header {
  font-size: 3rem;
  font-weight: 600;
}

.hero-span {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
}

.fa-chevron-down {
  color: #BCC4C7;
  font-size: 2rem;
  animation: bounce 2s ease infinite;

  position: absolute;
  bottom: 1.5rem;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-16px);
  }

  60% {
    transform: translateY(-8px);
  }
}

/* --- Recipe Card --- */
.recipe-card {
  width: 18rem;
  border-radius: 1rem;
  overflow: hidden;
}

.card-img-top {
  object-fit: cover;
  height: 18rem;
}

.card-body {
  height: 10rem;
  overflow: hidden;
}

.card-btn-bookmark {
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  background-color: #BCC4C7;
  border-color: #BCC4C7;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Icon for bookmark button */
.fa-heart-circle-plus,
.fa-heart-circle-minus {
  color: #ffffff;
  font-size: 1.1rem;
}

.card-btn-info {
  font-weight: 500;
  background-color: #BCC4C7;
  border-color: #BCC4C7;
}

.card-btn-bookmark:focus,
.card-btn-bookmark:active,
.card-btn-bookmark:hover,
.card-btn-info:focus,
.card-btn-info:active,
.card-btn-info:hover {
  background-color: #a9b0b3;
  border-color: #a9b0b3;
}

.card-btn-bookmark:active:focus,
.card-btn-bookmark:focus,
.card-btn-info:active:focus,
.card-btn-info:focus {
  box-shadow: none;
}

/* --- Recipes Section --- */
.search-box {
  max-width: 350px;
}

/* --- Favorites Section --- */
/* Email Box */
.email-box {
  background-color: rgba(237, 223, 203, 0.65);
  padding: 1.5rem 3rem;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* *** MEDIUM SCREEN SETTINGS (768PX AND ABOVE) *** */
@media screen and (min-width: 768px) {

  /* --- General --- */
  /* Adjust margin-top to account for height of navbar */
  .adjust-margin-top {
    margin-top: 71px;
  }

  /* --- Navbar --- */
  .logo-img {
    height: 45px;
  }

  /* --- Hero Section --- */
  .section-hero {
    /* Account for height of navbar */
    height: calc(100vh - 71px);
  }

  .hero-box {
    padding: 1rem 1.5rem;
    border-radius: 22px;
  }

  .hero-header {
    font-size: 3.5rem;
  }

  .hero-span {
    font-size: 1.8rem;
  }

  .fa-chevron-down {
    font-size: 3rem;
  }
}


/* *** LARGE SCREEN SETTINGS (992PX AND ABOVE) *** */
@media screen and (min-width: 992px) {

  /* --- General --- */
  /* Adjust margin-top to account for height of navbar */
  .adjust-margin-top {
    margin-top: 76px;
  }

  /* --- Navbar --- */
  .logo-img {
    height: 50px;
  }

  /* --- Hero Section --- */
  .section-hero {
    /* Account for height of navbar */
    height: calc(100vh - 76px);
  }

  .hero-box {
    padding: 1.5rem 2rem;
    border-radius: 22px;
  }

  .hero-header {
    font-size: 4rem;
  }

  .hero-span {
    font-size: 2rem;
  }

  .fa-chevron-down {
    font-size: 3.5rem;
  }

  /* --- Recipes Section --- */
  .result-box {
    height: calc(100vh - 76px - 50px);
    overflow-y: scroll;
  }
}