.navbar {
  background-color: #E1C9A9 !important;
}

.logo-img {
  height: 40px;
}

.section-hero {
  /* Account for height of navbar */
  height: calc(100vh - 50px);
  margin-top: 50px;
  
  background-image: url('./../images/coffee-beans.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}