.navbar {
  background-color: grey !important;
}

.section-hero {
  height: calc(100vh - 40px);
  margin-top: 40px;
  
  background-image: url('./../images/coffee-beans.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}